<form class="form-horizontal d-flex col-12 row mb-4 justify-content-end" [formGroup]="planosClienteForm"
      *ngIf="planosClienteForm" (ngSubmit)="nextStep()">

  <div class="row">
    <div class="col-lg-4">
      <div class="mb-3">
        <span>Nome do plano</span>
        <input type="text" class="form-control mt-1" placeholder="Plano"/>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <div class="mb-3">
        <span>Número do plano</span>
        <div class="input-group mt-1">
          <input type="text" class="form-control" placeholder="000000000000"/>
        </div>
        <button class="btn btn-primary" cdkStepperNext style="height: calc(1.5em + .75rem + 5px); display: flex; align-items: center; justify-content: center;">
          + Adicionar seu plano
        </button>
      </div>
    </div>
  </div>
</form>
<ul class="list-inline wizard d-flex justify-content-end mb-0">
  <li class="previous list-inline-item" aria-disabled="true"><button class="btn btn-primary"
                                                                     cdkStepperPrevious (click)="returnStep()">Voltar</button></li>
  <li class="next list-inline-item" aria-disabled="false"><button class="btn btn-primary" cdkStepperNext (click)="nextStep()">Confirmar</button>
  </li>
</ul>
