<div class="modal-header modal-scrollable">
  <h4 class="modal-title pull-left">
    <i class="fas fa-credit-card"></i> Editar Plano de Saúde
  </h4>
  <button type="button" class="btn" (click)="modalRef.hide()">
    <i class="fas fa-times"></i>
  </button>
</div>
<div class="modal-body modal-scrollable justify-content-center">
  <form class="form-horizontal col-12 mb-4 row" [formGroup]="planoSaudeForm" *ngIf="planoSaudeForm"
    (ngSubmit)="createPlanCard()">
    <div class="col-xxl-9 col-xl-9 col-lg-10 col-md-6 mt-3">
      <span>Nome Do Plano</span>
      <input type="text" class="form-control mt-1" formControlName="Name" placeholder="Nome do Plano"
        [ngClass]="{ 'is-invalid': submit && form.Area.errors }" />
      <!-- <div *ngIf="form.Nome.errors" class="invalid-feedback">
        <span *ngIf="form.Nome.errors.required"> Coloque o nome do plano </span>
      </div> -->
    </div>
    <div class="col-xxl-3 col-xl-3 col-lg-2 col-md-6 mt-3 d-flex justify-content-end">
      <div class="">
        <span>Status</span> <br />
        <ui-switch
          color="#34c38f"
          size="small" class="me-1"
          formControlName="IsActive"
           uncheckedLabel="Inativo"
          checkedLabel="Ativo">
        </ui-switch>
      </div>
    </div>
    <div class="col-12 mt-3">
      <span>Descrição</span>
      <textarea type="text" class="form-control mt-1" formControlName="Description" placeholder="Descrição do Plano"
        [ngClass]="{ 'is-invalid': submit && form.Descricao.errors }"></textarea>
      <!-- <div *ngIf="form.Nome.errors" class="invalid-feedback">
        <span *ngIf="form.Nome.errors.required"> Coloque o nome do plano </span>
      </div> -->
    </div>
  </form>

</div>
<div class="modal-footer justify-content-between">
  <button type="button" class="btn btn-secondary" (click)="closeModal()">
    Fechar
  </button>
  <button type="button" class="btn btn-primary" (click)="UpdatePlanCard()">
    <i class="fas fa-pencil-alt"></i> Editar Plano De Saúde
  </button>
</div>
